/* Layout */
#header {background: #f6f5ef; height: 120px; border-bottom: 1px solid #e5e5e5; border-top: 2px solid #000;}
#mainWrap {position: relative; background: url(../img/2021_summer1_bg.jpg) no-repeat; background-size: cover; background-position: center; width: 100%; height: 646px;}
#noticeWrap {display: flex; height: 62px;}
#noticeWrap .left-notice {background: #111; width: 50%; height: 100%;}
#noticeWrap .right-notice {background-color: #f6f5ef;width: 50%; height: 100%;}
#bannerWrap {display: none; height: 659px;}
#rewardWrap {background: #1e3932; height: 167px;}
#BeanWrap {background: url(../img/2021_summer1_bean_bg.jpg) no-repeat; height: 573px;}
#newReserveWrap {background: url(../img/reserve_sundried_brazil_bg2.jpg); height: 400px;}
#menuWrap {background: url(../img/winter_fav_bg.jpg); height: 800px;}
#reserve2Wrap {height: 695px;}
#storeWrap {background: url(../img/store.bg.jpg); height: 400px;}
#footer {}

/* container */
.header_container {width: 1100px; margin: 0 auto;}
.main-wrap_container {width: 1080px; margin: 0 auto;}
.notice-container {width: 500px; margin-left: auto;}
.rnotice-container {width: 500px; margin-right: auto;}

/* tablet gnb */
.tablet-gnb {display: none;}
.tablet-gnb ul {display: flex;}
.tablet-gnb li {}
.tablet-gnb li a {display: inline-block; padding: 10px 20px;}
.tablet-gnb li a img {}
.tablet-gnb .tablet-gnb01 img{width: 25px; height: 30px;}
.tablet-gnb .tablet-gnb02 img{width: 24px; height: 32px;}
.tablet-gnb .tablet-gnb03 img{width: 28px; height: 26px;}
.tablet-gnb .tablet-gnb03 button {padding: 10px 20px;}

/* header */
.header {position: relative; display: flex; justify-content: space-between; padding: 22px 0 0 0;}
.header .main_logo img {display: block; width: 75px; height: 75px;}

.header .gnb .sub-gnb {position: absolute; display: flex; top: 10px; right: 55px;}
.header .gnb .sub-gnb ul {display: flex;}
.header .gnb .sub-gnb li {position: relative; margin-right: 20px;}
.header .gnb .sub-gnb li:last-child {margin-right: 15px;}
.header .gnb .sub-gnb li:first-child::after {display: none;}
.header .gnb .sub-gnb li::after{position: absolute; content: ' '; width: 1px; height: 10px; left: -7px; top: 9px; background: #e5e5e5;}
.header .gnb .sub-gnb li a{display: inline-block; padding: 5px;  color: #555;}
.header .gnb .sub-gnb .search {background: white; font-size: 20px; padding: 1px 6px 1px 6px; border-radius: 5px; border: 1px solid #ccc;}

.header .gnb .main-gnb {margin-top: 25px;}
.header .gnb .main-gnb ul {display: flex;}
.header .gnb .main-gnb li a {display: inline-block; padding: 10px 25px 44px 25px;}
.header .gnb .main-gnb li a:hover {background: #333; color: green;}

/* mainWrap */
.main-wrap {}
.main-wrap .slogan {padding-top: 58px; margin-bottom: 30px; max-width: 254px;}
.main-wrap .slogan img {display: block; width: 100%;}

.main-wrap .main-wrap_btn a{display: inline-block; padding: 5px 20px; border: 2px solid #595857; border-radius: 5px; font-size: 15px; color: #595857; transition: background .3s;}
.main-wrap .main-wrap_btn a:hover {background: rgba(255,255,255,0.5);}

.main-wrap .drinks .drink {position: absolute; }
.main-wrap .drinks .drink .m_drink {display: none;}
.main-wrap .drinks .drink01 {bottom: 80px; left: 38%; width: 34%; max-width: 359px;}
.main-wrap .drinks .drink02 {bottom: 133px; left: 56%; width: 46%; max-width: 487px;}
.main-wrap .drinks .drink03 {bottom: 43px; left: 74%; width: 30%; max-width: 331px;}
.main-wrap .drinks .drink01::after {position: absolute; content: ' '; background: url(../img/2021_summer1_coldbrew_tit.png); background-size: contain; background-repeat: no-repeat; top: -28%; left: 3%; width: 39%; max-width: 140px; height: 79px;}
.main-wrap .drinks .drink02::after {position: absolute; content: ' '; background: url(../img/2021_summer1_blended_tit.png); background-size: contain; background-repeat: no-repeat; bottom: -22%; left: -7%; width: 48%; max-width: 229px; height: 79px;}
.main-wrap .drinks .drink img {width: 100%;}
.main-wrap .drinks .drink03::after {position: absolute; content: ' '; background: url(../img/2021_summer1_ade_tit.png); background-size: contain; background-repeat: no-repeat; top: -28%; left: 2%; width: 48%; max-width: 156px; height: 79px;}

/* noticeWrap */
#noticeWrap h2 {font-size: 16px;}
.left-notice {color: white;}

.right-notice {}

/* media query*/
@media (max-width: 1290px){
    
}

@media (max-width: 1120px){
    #header .row {padding-left: 20px;}
    .header_container {width: 100%;}

    #mainWrap .row {padding: 0 45px;}
    .main-wrap_container {width: 100%;}
    .main-wrap .slogan {width: 24%;}
}

@media (max-width:960px){
    .tablet-gnb {display: block;}

    #header {height: 70px; border-top: none;}
    .header {padding: 0; padding-top: 12px;}
    .header .gnb {display: none;}
    .header .main_logo img {width: 45px; height: 45px;}

    .main-wrap .slogan {padding-top: 27px; width: 20%;}
}

@media (max-width: 870px){
    #mainWrap {height: 545px;}
    .main-wrap .drinks .drink01 {left: 29%; bottom: 68px;}
    .main-wrap .drinks .drink02 {left: 51%; bottom: 110px;}
}

@media (max-width: 760px){
    #header .row {padding-left: 10px;}

    #mainWrap {height: 500px;}
    #mainWrap .row {padding: 0 16px;}
}

@media (max-width: 640px){
    #mainWrap {background: url(../img/2021_m_summer1_bg.jpg) no-repeat center; height: 240vh;}
    #mainWrap .row {padding-left: 70px;}
    .main-wrap .slogan {width: 63%; padding-top: 98px; max-width: 323px;}
    .main-wrap .drinks .pc_drink{display: none;}
    .main-wrap .drinks .drink .m_drink {display: block;}
    .main-wrap .drinks .drink01 {bottom: 51%; left: 56%; width: 44%; max-width: 270px;}
    .main-wrap .drinks .drink02 {bottom: 34%; left: 0; width: 100%; max-width: 612px;}
    .main-wrap .drinks .drink03 {bottom: 207px; left: 39%; width: 59%; max-width: 354px;}.main-wrap .drinks .drink01::after {position: absolute; content: ' '; background: url(../img/2021_m_summer1_coldbrew_tit.png); background-size: contain; background-repeat: no-repeat; top: -32%; left: 6%; width: 65%; height: 97px; max-width: none;}
    .main-wrap .drinks .drink02::after {position: absolute; content: ' '; background: url(../img/2021_m_summer1_blended_tit.png); background-size: contain; background-repeat: no-repeat; bottom: 10%; left: 50%; width: 39%; height: 158px; max-width: none;}
    .main-wrap .drinks .drink img {width: 100%;}
    .main-wrap .drinks .drink03::after {position: absolute; content: ' '; background: url(../img/2021_m_summer1_ade_tit.png); background-size: contain; background-repeat: no-repeat; top: 42%; left: -41%; width: 57%; max-width: none; height: 100px;}

    .main-wrap .main-wrap_btn {position: absolute; left: 50%; bottom: 4%; transform: translateX(-50%);}
    .main-wrap .main-wrap_btn a {font-size: 13px;}
}
