/* Layout */
#header {background: #f6f5ef; height: 120px; border-bottom: 1px solid #e5e5e5; border-top: 2px solid #000;}
#mainWrap {position: relative; background: url(../img/2021_summer1_bg.jpg) no-repeat; background-size: cover; background-position: center; width: 100%; height: 646px; overflow: hidden;}
#noticeWrap                            {display: flex; height: 62px;}
#noticeWrap .left-notice {background: #111; width: 50%; height: 100%;}
#noticeWrap .right-notice {background-color: #f6f5ef;width: 50%; height: 100%;}
#bannerWrap {display: none; height: 659px;}
#rewardWrap {background: #1e3932;}
#BeanWrap {position: relative; background: url(../img/2021_summer1_bean_bg.jpg) no-repeat ;background-position: center right;background-size: cover; height: 573px;}
#newReserveWrap {background: url(../img/reserve_sundried_brazil_bean4_1.png) no-repeat; height: 400px;}
#menuWrap {position: relative; background: url(../img/fav_prod_bg_new.jpg) no-repeat center center fixed #45434c; background-size: auto 100%; height: 800px;}
#reserve2Wrap {height: 695px;}
#storeWrap {background: url(../img/store.bg.jpg); height: 400px;}
#footer {}

/* container */
.header_container {width: 1100px; margin: 0 auto;}
.main-wrap_container {width: 1080px; margin: 0 auto;}
.notice-container {width: 500px; margin-left: auto;}
.rnotice-container {width: 500px; margin-right: auto;}
.reward-wrap_container {width: 1080px; margin: 0 auto;}
.bean-wrap_container {width: 1080px; margin: 0 auto;}

/* tablet gnb */
.tablet-gnb {display: none;}
.tablet-gnb ul {display: flex;}
.tablet-gnb li a {display: inline-block; padding: 10px 20px;}
.tablet-gnb .tablet-gnb01 img{width: 25px; height: 30px;}
.tablet-gnb .tablet-gnb02 img{width: 24px; height: 32px;}
.tablet-gnb .tablet-gnb03 img{width: 28px; height: 26px;}
.tablet-gnb .tablet-gnb03 button {padding: 10px 20px;}

/* header */
.header {position: relative; display: flex; justify-content: space-between; padding: 22px 0 0 0;}
.header .main_logo img {display: block; width: 75px; height: 75px;}

.header .gnb .sub-gnb {position: absolute; display: flex; top: 10px; right: 55px;}
.header .gnb .sub-gnb ul {display: flex;}
.header .gnb .sub-gnb li {position: relative; margin-right: 20px;}
.header .gnb .sub-gnb li:last-child {margin-right: 15px;}
.header .gnb .sub-gnb li:first-child::after {display: none;}
.header .gnb .sub-gnb li::after{position: absolute; content: ' '; width: 1px; height: 10px; left: -7px; top: 9px; background: #e5e5e5;}
.header .gnb .sub-gnb li a{display: inline-block; padding: 5px;  color: #555;}
.header .gnb .sub-gnb .search {background: white; font-size: 20px; padding: 1px 6px 1px 6px; border-radius: 5px; border: 1px solid #ccc;}

.header .gnb .main-gnb {margin-top: 25px;}
.header .gnb .main-gnb ul {display: flex;}
.header .gnb .main-gnb li a {display: inline-block; padding: 10px 25px 44px 25px;}
.header .gnb .main-gnb li a:hover {background: #333; color: green;}

/* mainWrap */
.main-wrap .slogan {padding-top: 58px; margin-bottom: 30px; max-width: 254px;}

.main-wrap .main-wrap_btn {width: 115px; height: 34px;border: 2px solid #595857; border-radius: 5px;}
.main-wrap .main-wrap_btn a{display: inline-block; width: 100%; font-size: 15px; color: #595857; transition: background .3s; line-height: 30px; text-align: center; letter-spacing: -1px;}
.main-wrap .main-wrap_btn a:hover {background: rgba(255,255,255,0.5);}

.main-wrap .drinks .drink {position: absolute; }
.main-wrap .drinks .drink .m_drink {display: none;}
.main-wrap .drinks .drink01 {bottom: 80px; left: 38%; width: 34%; max-width: 359px;}
.main-wrap .drinks .drink02 {bottom: 133px; left: 56%; width: 46%; max-width: 487px;}
.main-wrap .drinks .drink03 {bottom: 43px; left: 74%; width: 30%; max-width: 331px;}
.main-wrap .drinks .drink01::after {position: absolute; content: ' '; background: url(../img/2021_summer1_coldbrew_tit.png); background-size: contain; background-repeat: no-repeat; top: -28%; left: 3%; width: 39%; max-width: 140px; height: 79px;}
.main-wrap .drinks .drink02::after {position: absolute; content: ' '; background: url(../img/2021_summer1_blended_tit.png); background-size: contain; background-repeat: no-repeat; bottom: -22%; left: -7%; width: 48%; max-width: 229px; height: 79px;}
.main-wrap .drinks .drink03::after {position: absolute; content: ' '; background: url(../img/2021_summer1_ade_tit.png); background-size: contain; background-repeat: no-repeat; top: -28%; left: 2%; width: 48%; max-width: 156px; height: 79px;}

/* noticeWrap */
#noticeWrap h2 {font-size: 16px;}
.left-notice {color: white;}

.right-notice {}

/* rewardWrap */
.reward-wrap {display: flex; color: white; padding: 30px 0 40px 0;}
.reward-wrap .reward-logo {width: 16.3%; margin: 0 40px;}
.reward-wrap .reward-conts {width: 83.7%;}
.reward-wrap .reward-conts a {display: inline-block; color: white; border: 3px solid white; border-radius: 5px;}
.reward-wrap .reward-conts strong {font-weight: 800;}

.reward-wrap .reward-conts .info-cont {position: relative; margin-bottom: 38px;}
.reward-wrap .reward-conts .info-cont::after {position: absolute; content: ' '; width: 100%; height: 1px; background: rgba(255,255,255,0.2); bottom: -20px; left: 0;}
.reward-wrap .reward-conts .info-cont .info-text h3{
font-size: 26px; word-break: keep-all;}
.reward-wrap .reward-conts .info-cont .info-text p{font-size: 17px; word-break: keep-all;}
.reward-wrap .reward-conts .info-cont .login-btn {position: absolute; right: 0; bottom: 0;}
.reward-wrap .reward-conts .info-cont .login-btn a{
    display: inline-block; padding: 0 18.5px; height: 38px; line-height: 38px;
}
.reward-wrap .reward-conts .info-cont .login-btn .sign_in { border-color: #00704a; background: #00704a;}

.reward-wrap .reward-conts .gift-cont {position: relative; word-break: keep-all;}
.reward-wrap .reward-conts .gift-cont .gift-btn {position: absolute; right: 0; bottom: 0; width: 183px; height: 38px; box-sizing: border-box; text-align: center; line-height: 32px;}

/* BeanWrap */
.bean-wrap {display: flex; justify-content: center;}
.bean-wrap .bean-img {position: absolute; left: 18%; bottom: 13%; width: 36%; max-width: 386px;}
.bean-wrap .bean-img .pc-img {}
.bean-wrap .bean-img .m-img {display: none;}

.bean-wrap .bean-text {max-width: 386px; position: absolute; right: 17%; bottom: 41%; width: 28%; max-width: 321px;}
.bean-wrap .bean-text .m-img {display: none;}

.bean-wrap .bean-text .bean-btn {display: flex; justify-content: center; align-items: center;  width: 125px; height: 38px; margin-top: 30px; border: 2px solid #231815; border-radius: 5px; font-size: 15px; letter-spacing: -1px;transition: background .7s, color .7s;}
.bean-wrap .bean-text .bean-btn:hover {background: black; color: white;}

/* menuWrap */
.menu-wrap {}
.menu-wrap .menu-text {}
.menu-wrap .menu-text h3 {background: url(../img/fav_prod_txt01.png) no-repeat; height: 204px;}
.menu-wrap .menu-img {position: absolute; right: 1%;bottom: 26%; width: 672px; height: 458px;}
